
* {
	margin: 0;
	padding: 0;
}

html { 
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
}

.navbar {
	padding: 0;
	margin-bottom: 0;
	background: transparent;
}

.logo {
	height: 5%;
	margin: 0;
	background: transparent;
	position: absolute;
	z-index: 400;
	margin: 10px;
}

.container-fluid {
	padding: 0;
	margin: 0;
}

#map {
	height: 100%;
	width: 100%;
	margin-left: auto; margin-right: auto;	
}

.pop_up_box_text {
	font-family: Georgia, 'Times New Roman', Times, serif; 
	font-size: 16px; 
	line-height: 22px; 
  color: #484848; 
  height: 80px; width: 80px;
	display: inline; 
}

#footer-nav {
	height: 85px;
	width: 85%;
	margin: 10px;
	bottom: 14px;
	right: 60px;
	text-align: center;
	z-index: 400;
	display: block;
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
}

#kingrobert {
	border-radius: 50px;
	height: 85px; width: 85px;
	margin: 10px;
	bottom: 14px;
	float: left;
	left: 60px;
	z-index: 401;
	display: block;
	position: absolute;
}


