@import url(https://fonts.googleapis.com/css?family=Marcellus);

/*****GLOBAL STYLES*****/
* {
	margin: 0;
	padding: 0;
}

html { 
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	margin: 0;
}

/*****MAP STYLES*****/
#map-canvas {
	height: 100%;
	width: 100%;
	margin-left: auto; margin-right: auto;	
}

.marker {
	background-image: url("../img/houses/lannister.png");
	cursor: pointer;
	border-color: #fff;
	border-width: 3px;
	border-style: solid;
	box-shadow: 5px 5px 15px #888888;
	border-radius: 50px;
 	background-repeat: no-repeat;
  background-position: center;
/*  background-size: 40px 40px; */
}

.marker:hover {
	animation-name: bounce; animation-duration: 0.75s;
}

@keyframes bounce {
	15% {
    transform:translateY(0);
    padding-bottom: 5px;
	}

	30% {
	    transform:translateY(-20%);
	}
}

/*****NAVBAR STYLES*****/
/*.navbar {
*//*	padding: 0;
	margin-bottom: 0;
	background: transparent;
	z-index: 900;
}*/

.logo, h1, .header {
	height: 5%;
	background: transparent;
	position: absolute;
	z-index: 400;
	margin-left: auto; margin-right: auto;
	bottom: 50px;
	font-family: 'Marcellus', 'Georgia', serif;
	color: rgba(177, 15, 46, 0.5);
	margin-left: 290px;
	display: block;
}

.intro {
	bottom: -60px;
	position: absolute;
	margin-left: 290px;
}

.intro, #share {
	height: 15%;
	background: transparent;
	position: absolute;
	z-index: 400;
	text-align: center;
	font-family: 'Marcellus', 'Georgia', serif;
	color: rgba(177, 15, 46, 0.5);
}
/*
#footer-nav {
	height: 65px;
	width: 65%;
	bottom: 24px;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 400;
	border-style: 2px #CCC;
	display: block;
	border-radius: 2px;
	position: absolute;
	background: #383838;
	box-shadow: 15px 10px 25px #888888;
	text-align: center;
	font-family: 'Marcellus', 'Georgia', serif;
	color: rgba(177, 15, 46, 0.5);
}

#footer-nav li {
	list-style-type: none;	
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 8px; margin-right: 8px; margin-top: 30px;
	position: relative;
	text-align: center;
	font-family: 'Marcellus', 'Georgia', serif;
	color: rgba(177, 15, 46, 0.5);
}

#footer-nav li:hover, 
#footer-nav:hover, 
li a:hover {
	text-decoration: none;
}
*/
/*****SOCIAL MEDIA STYLES*****/
#kingrobert {
	border-radius: 50px;
	height: 95px; width: 95px;
	margin: 10px;
	top: 10px;
	float: left;
	right: 10px;
	z-index: 401;
	display: block;
	position: absolute;
	cursor: pointer; 
	box-shadow: 15px 10px 25px #888888;
}

#share {
	 position: absolute;
	 z-index: 401;
	 top: 110px;
	 right: 10px;
	 font-size: 14px;
}

#kingspeech {
	height: 55px;
	width: 150px;
	padding: 5px;
	text-align: center;
	background-color: #fff;
	border-radius: 75px;
	top: 20px;
	right: 130px;
	z-index: 401;
	display: none;
	position: absolute;
	box-shadow: 15px 10px 25px #888888;
	font-family: 'Marcellus', 'Georgia', serif;
}

/*****MODAL STYLES*****/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
