@import url(https://fonts.googleapis.com/css?family=Marcellus);

* {
	margin: 0;
	padding: 0;
}

html { 
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
}

.navbar {
	padding: 0;
	margin-bottom: 0;
	background: transparent;
}

.logo, h1, .header {
	height: 5%;
	margin: 0;
	background: transparent;
	position: absolute;
	z-index: 400;
	margin: 10px;
	font-family: 'Marcellus', 'Georgia', serif;
	color: rgba(177, 15, 46, 0.5);
}

.intro, #share {
	height: 15%;
	background: transparent;
	position: absolute;
	z-index: 400;
	margin: 10px;
	top: 155px;
	font-family: 'Marcellus', 'Georgia', serif;
	color: rgba(177, 15, 46, 0.5);
}

#share {
	font-size: 14px;
}

.container-fluid {
	padding: 0;
	margin: 0;
}

#map {
	height: 100%;
	width: 100%;
	margin-left: auto; margin-right: auto;	
}

.map-marker {
	border-radius: 25px;
}

.pop_up_box_text {
	font-family: 'Arial', 'Times New Roman', Times, serif; 
	font-size: 16px; 
	line-height: 22px; 
  color: red; 
	background: #383838;
  height: 180px; width: 80px;
	display: inline; 
}

#footer-nav {
	height: 65px;
	width: 65%;
	bottom: 24px;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 400;
	border-style: 2px #CCC;
	display: block;
	border-radius: 2px;
	position: absolute;
	background: #383838;
	box-shadow: 15px 10px 25px #888888;
	text-align: center;
	font-family: 'Marcellus', 'Georgia', serif;
	color: rgba(177, 15, 46, 0.5);
}

#footer-nav li {
	list-style-type: none;	
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 8px; margin-right: 8px; margin-top: 30px;
	position: relative;
	text-align: center;
	font-family: 'Marcellus', 'Georgia', serif;
	color: rgba(177, 15, 46, 0.5);
}

#footer-nav li:hover, 
#footer-nav:hover, 
li a:hover {
	text-decoration: none;
}

#kingrobert {
	border-radius: 50px;
	height: 95px; width: 95px;
	margin: 10px;
	top: 10px;
	float: left;
	right: 10px;
	z-index: 401;
	display: block;
	position: absolute;
	cursor: pointer; 
	box-shadow: 15px 10px 25px #888888;
}

#share {
	 position: absolute;
	 z-index: 401;
	 top: 110px;
	 right: 10px;
}

#kingspeech {
	height: 95px;
	width: 200px;
	padding: 10px;
	text-align: center;
	background-color: #fff;
	border-radius: 75px;
	top: 20px;
	right: 130px;
	z-index: 401;
	display: none;
	position: absolute;
	box-shadow: 15px 10px 25px #888888;
	font-family: 'Marcellus', 'Georgia', serif;
}

.marker {
  position: absolute;
	border-style: solid;
	border-color: #fff;
	border-width: 2px;
	cursor: pointer;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-image: url("../img/lannister.png");
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 45px 45px;
  box-shadow: 5px 5px 15px #888888;

}

.image_container	{
		width: 100%;
		height: 100%;
		top: 0px;
}
	









